body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    color: white;
}

ul{
    display: flex;
    align-items: center;
}

ul li{
    margin: 0 20px;
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}

img {
    margin: 0 30px;
    height: 60px;
}

button{
    padding: 5px;
    border: 1px solid white;
    border-radius: 20px;
    width: 5rem;
    text-align: center;
}

